 <div class="row first_row row_style">
     <div class="row-header">
        <h1 class="page-header header_style">
            창작
        </h1>
        <ul class="genre-list">
            <li><a href="/category/songwriting/all">전체</a></li>
            <li><a href="/category/songwriting/genre1">발라드/댄스/팝</a></li>
            <li><a href="/category/songwriting/genre2">힙합/알앤비</a></li>
            <li><a href="/category/songwriting/genre3">일렉트로닉</a></li>
            <li><a href="/category/songwriting/genre4">락/메탈</a></li>
            <li><a href="/category/songwriting/genre5">재즈</a></li>
            <li><a href="/category/songwriting/genre6">인디</a></li>
        </ul>
     </div>
   
    <div class="row list">
      <% @songwriting.each do |s| %>
        <div class="col-6 col-md-4 col-lg-3">
          <div class="list-wrap">
            <div class="thumbnail">
              <a href="javascript:popupOpen('<%=s.id%>');">
                  <div class="list-img-wrap">
                    <% unless s.album_pic.nil? %>
                      <img src="<%= s.album_pic %>" width="170" height="170" alt="앨범이미지">
                    <% else %>
                      <img src="http://via.placeholder.com/170x170" width="170" height="170" alt="앨범이미지">
                    <% end %>
                      <div>
                          <i class="fa fa-music fa-2x play-icon" aria-hidden="true"></i>
                      </div>
                  </div>
              </a>
              <div class="caption">
                <ul>
                  <li><a href="javascript:popupOpen('<%=s.id%>');" class="glyphicon glyphicon-play"></a></li>
                  <li><a href="" class="glyphicon glyphicon-plus"></a></li>
                  <li><%= link_to '', songwriting_path(s.id), class: "glyphicon glyphicon-list-alt" %></li>
                  <li>
                      <% if current_user.like?(s) %>
                        <a href="/like_cancel/<%= s.id %>" class="glyphicon glyphicon-heart category-like"></a>
                      <% else %>
                        <a href="/like/<%= s.id %>" class="glyphicon glyphicon-heart"></a>
                      <% end %>
                  </li>
                </ul>
                <p><%= link_to s.title, songwriting_path(s.id), class: "list-title" %></p>
                <p><a href="#" class="list-singer"><%= s.user_name %><!--가수--></a></p>
                <p class="list-day"><%= s.updated_at %>
                <!--<%= "#{s.unique_impression_count}" %>-->
                </p>
                  <% if current_user.id == s.user_id %>
                    <p>
                      <%= link_to '수정하기', edit_songwriting_path(s.id) %>
                      <%= link_to '삭제하기', songwriting_path(s.id), method: "delete", data: {confirm: "정말 삭제하시겠습니까?"} %>
                    </p>
                  <% else %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
   </div>
   
<!--   <div  style = "position: relative; left: 300px; top: 900px;">-->
<!--<% @songwriting.each do |s| %>-->
<!--  <div>-->
<!--    <%= s.id %>-->
<!--    <%= s.title %>-->
<!--    <%= s.content %>-->
<!--    <%= link_to '음악정보보기', songwriting_path(s.id) %>-->
<!--    <%= link_to '수정하기', edit_songwriting_path(s.id) %>-->
<!--    <%= link_to '삭제하기', songwriting_path(s.id), method: "delete", data: {confirm: "정말 삭제하시겠습니까?"} %>-->
<!--  </div>-->
<!--<% end %>-->
<!--</div>-->
