 <!--Page Heading -->
<div class="row first_row row_style index-row">
    <div class="row-header">
        <h1 class="page-header header_style">
            최신 음악
        </h1>
        <div role="tabpanel">
        
          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-tabs_style" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">창작</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">커버</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">공연</a></li>
          </ul>

        </div>
    </div>
    <!-- Tab panes -->
          <div class="tab-content new-music-content index-music-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>
                
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row list crs-list">
                          <% @songwriting1.each do |s| %>
                            <div class="col-6 col-md-4 col-lg-3">
                              <div class="list-wrap">
                                <div class="thumbnail">
                                  <a href="javascript:popupOpen('<%= s.id %>');">
                                      <div class="list-img-wrap">
                                        <% unless s.album_pic.nil? %>
                                          <img src="<%= s.album_pic %>" width="170" height="170" alt="앨범이미지">
                                        <% else %>
                                          <img src="http://via.placeholder.com/170X170" width="170" height="170">
                                        <% end %>
                                          <div>
                                              <i class="fa fa-music fa-2x play-icon" aria-hidden="true"></i>
                                          </div>
                                      </div>
                                  </a>
                                  <div class="caption">
                                    <p>
                                      <% if user_signed_in? %>
                                        <%= link_to "#{s.title}", songwriting_path(s.id), class: "list-title" %>
                                      <% else %>
                                        <a href="javascript:alert('로그인을 해주세요');" class="list-title"><%=s.title%></a>
                                      <% end %>
                                      </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <% end %>
                       </div>
                    </div>
                  <% if @songwriting2.count > 0 %>
                    <div class="item">
                        <div class="row list crs-list">
                          <% @songwriting2.each do |s| %>
                            <div class="col-6 col-md-4 col-lg-3">
                              <div class="list-wrap">
                                <div class="thumbnail">
                                  <a href="javascript:popupOpen('<%= s.id %>');">
                                      <div class="list-img-wrap">
                                        <% unless s.album_pic.nil? %>
                                          <img src="<%= s.album_pic %>" width="170" height="170" alt="앨범이미지">
                                        <% else %>
                                          <img src="http://via.placeholder.com/170X170" width="170" height="170">
                                        <% end %>
                                          <div>
                                              <i class="fa fa-music fa-2x play-icon" aria-hidden="true"></i>
                                          </div>
                                      </div>
                                  </a>
                                  <div class="caption">
                                    <p>
                                      <% if user_signed_in? %>
                                        <%= link_to "#{s.title}", songwriting_path(s.id) %>
                                      <% elsif %>
                                        <a href="javascript:alert('로그인을 해주세요');"><%=s.title%></a>
                                      <% end %>
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <% end %>
                       </div>
                    </div>
                    <% end %>
                  <% if @songwriting3.count > 0 %>
                    <div class="item">
                        <div class="row list crs-list">
                          <% @songwriting3.each do |s| %>
                            <div class="col-6 col-md-4 col-lg-3">
                              <div class="list-wrap">
                                <div class="thumbnail">
                                  <a href="javascript:popupOpen('<%= s.id %>');">
                                      <div class="list-img-wrap">
                                        <% unless s.album_pic.nil? %>
                                          <img src="<%= s.album_pic %>" width="170" height="170" alt="앨범이미지">
                                        <% else %>
                                          <img src="http://via.placeholder.com/170X170" width="170" height="170">
                                        <% end %>
                                          <div>
                                              <i class="fa fa-music fa-2x play-icon" aria-hidden="true"></i>
                                          </div>
                                      </div>
                                  </a>
                                  <div class="caption">
                                    <p>
                                    <% if user_signed_in? %>
                                        <%= link_to "#{s.title}", songwriting_path(s.id) %>
                                      <% elsif %>
                                        <a href="javascript:alert('로그인을 해주세요');" class="list-title"><%=s.title%></a>
                                      <% end %>
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <% end %>
                       </div>
                    </div>
                  <% end %>
                  </div>
                
                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>    
                
            </div>
            
            <div role="tabpanel" class="tab-pane" id="profile">
              
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>
                
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row list crs-list">
                          <% @cover1.each do |s| %>
                          <div class="col-6 col-md-6 col-lg-4">
                            <div class="list-wrap show-list-wrap">
                                <div class="thumbnail">
                                    <div class="list-show">
                                      <ul class="list-unstyled video-list-thumbs row">
                                      	<li class="col-12">
                                      		<a href="<%=cover_path(s.id)%>" title="Claudio Bravo, antes su debut con el Barça en la Liga">
                                        	<% unless s.cover_pic.nil? %>
                                            <img src="<%= s.cover_pic %>" width="280" height="160" alt="앨범이미지">
                                          <% else %>
                                            <img src="http://via.placeholder.com/280X160" width="280" height="160">
                                          <% end %>
                                      			<span class="glyphicon glyphicon-play"></span>
                                      			<span class="duration">03:15</span>
                                      		</a>
                                      	</li>
                                      </ul>
                                    </div>
                                  <div class="caption">
                                    <p>
                                      <% if user_signed_in? %>
                                        <%= link_to "#{s.title}", cover_path(s.id), class: "list-title" %>
                                      <% elsif %>
                                        <a href="javascript:alert('로그인을 해주세요');" class="list-title"><%=s.title%></a>
                                      <% end %>
                                    </p>
                                  </div>
                                </div> 
                              </div>
                            </div>
                          <!--</div>-->
                          <% end %>
                       </div>
                    </div>
                    <% if @cover2.count > 0 %>
                    <div class="item">
                        <div class="row list crs-list">
                          <% @cover2.each do |s| %>
                          <div class="col-6 col-md-6 col-lg-4">
                            <div class="list-wrap show-list-wrap">
                                <div class="thumbnail">
                                    <div class="list-show">
                                      <ul class="list-unstyled video-list-thumbs row">
                                      	<li class="col-12">
                                      		<a href="<%=cover_path(s.id)%>" title="Claudio Bravo, antes su debut con el Barça en la Liga">
                                          <% unless s.cover_pic.nil? %>
                                            <img src="<%= s.cover_pic %>" width="280" height="160" alt="앨범이미지">
                                          <% else %>
                                            <img src="http://via.placeholder.com/280X160" width="280" height="160">
                                          <% end %>
                                      			<span class="glyphicon glyphicon-play"></span>
                                      			<span class="duration">03:15</span>
                                      		</a>
                                      	</li>
                                      </ul>
                                    </div>
                                  <div class="caption">
                                    <p>                                      
                                      <% if user_signed_in? %>
                                        <%= link_to "#{s.title}", cover_path(s.id), class: "list-title" %>
                                      <% elsif %>
                                        <a href="javascript:alert('로그인을 해주세요');" class="list-title"><%=s.title%></a>
                                      <% end %>
                                    </p>
                                  </div>
                                </div> 
                              </div>
                            </div>
                          <!--</div>-->
                          <% end %>
                       </div>
                    </div>
                    <% end %>
                    <% if @cover3.count > 0 %>
                    <div class="item">
                        <div class="row list crs-list">
                          <% @cover3.each do |s| %>
                          <div class="col-6 col-md-6 col-lg-4">
                            <div class="list-wrap show-list-wrap">
                                <div class="thumbnail">
                                    <div class="list-show">
                                      <ul class="list-unstyled video-list-thumbs row">
                                      	<li class="col-12">
                                      		<a href="<%=cover_path(s.id)%>" title="Claudio Bravo, antes su debut con el Barça en la Liga">
                                          <% unless s.cover_pic.nil? %>
                                            <img src="<%= s.cover_pic %>" width="280" height="160" alt="앨범이미지">
                                          <% else %>
                                            <img src="http://via.placeholder.com/280X160" width="280" height="160">
                                          <% end %>
                                            <span class="glyphicon glyphicon-play"></span>
                                      			<span class="duration">03:15</span>
                                      		</a>
                                      	</li>
                                      </ul>
                                    </div>
                                  <div class="caption">
                                    <p>
                                      <% if user_signed_in? %>
                                        <%= link_to "#{s.title}", cover_path(s.id), class: "list-title" %>
                                      <% elsif %>
                                        <a href="javascript:alert('로그인을 해주세요');" class="list-title"><%=s.title%></a>
                                      <% end %>
                                    </p>
                                  </div>
                                </div> 
                              </div>
                            </div>
                          <!--</div>-->
                          <% end %>
                       </div>
                    </div>
                    <% end %>
                  </div>
                
                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>               
              
            </div>
            
            <div role="tabpanel" class="tab-pane" id="messages">
              
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>
                
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row list crs-list">
                          <% @show1.each do |s| %>
                          <div class="col-6 col-md-6 col-lg-4">
                            <div class="list-wrap show-list-wrap">
                                <div class="thumbnail">
                                    <div class="list-show">
                                      <ul class="list-unstyled video-list-thumbs row">
                                      	<li class="col-12">
                                      		<a href="<%=show_path(s.id)%>" title="Claudio Bravo, antes su debut con el Barça en la Liga">
                                          <% unless s.show_pic.nil? %>
                                            <img src="<%= s.show_pic %>" width="280" height="160" alt="앨범이미지">
                                          <% else %>
                                            <img src="http://via.placeholder.com/280X160" width="280" height="160">
                                          <% end %>
                                            <span class="glyphicon glyphicon-play"></span>
                                      			<span class="duration">03:15</span>
                                      		</a>
                                      	</li>
                                      </ul>
                                    </div>
                                  <div class="caption">
                                    <p>
                                      <% if user_signed_in? %>
                                        <%= link_to "#{s.title}", show_path(s.id), class: "list-title" %>
                                      <% elsif %>
                                        <a href="javascript:alert('로그인을 해주세요');" class="list-title"><%=s.title%></a>
                                      <% end %>
                                    </p>
                                  </div>
                                </div> 
                              </div>
                            </div>
                          <!--</div>-->
                          <% end %>
                       </div>
                    </div>
                    <% if @show2.count > 0 %>
                    <div class="item">
                        <div class="row list crs-list">
                          <% @show2.each do |s| %>
                          <div class="col-6 col-md-6 col-lg-4">
                            <div class="list-wrap show-list-wrap">
                                <div class="thumbnail">
                                    <div class="list-show">
                                      <ul class="list-unstyled video-list-thumbs row">
                                      	<li class="col-12">
                                      		<a href="<%=show_path(s.id)%>" title="Claudio Bravo, antes su debut con el Barça en la Liga">
                                          <% unless s.show_pic.nil? %>
                                            <img src="<%= s.show_pic %>" width="280" height="160" alt="앨범이미지">
                                          <% else %>
                                            <img src="http://via.placeholder.com/280X160" width="280" height="160">
                                          <% end %>
                                      			<span class="glyphicon glyphicon-play"></span>
                                      			<span class="duration">03:15</span>
                                      		</a>
                                      	</li>
                                      </ul>
                                    </div>
                                  <div class="caption">
                                    <p>
                                      <% if user_signed_in? %>
                                        <%= link_to "#{s.title}", show_path(s.id), class: "list-title" %>
                                      <% elsif %>
                                        <a href="javascript:alert('로그인을 해주세요');" class="list-title"><%=s.title%></a>
                                      <% end %>                                      
                                    </p>
                                  </div>
                                </div> 
                              </div>
                            </div>
                          <!--</div>-->
                          <% end %>
                       </div>
                    </div>
                    <% end %>
                    <% if @show3.count > 0 %>
                    <div class="item">
                        <div class="row list crs-list">
                          <% @show3.each do |s| %>
                          <div class="col-6 col-md-6 col-lg-4">
                            <div class="list-wrap show-list-wrap">
                                <div class="thumbnail">
                                    <div class="list-show">
                                      <ul class="list-unstyled video-list-thumbs row">
                                      	<li class="col-12">
                                      		<a href="<%=show_path(s.id)%>" title="Claudio Bravo, antes su debut con el Barça en la Liga">
                                          <% unless s.show_pic.nil? %>
                                            <img src="<%= s.show_pic %>" width="280" height="160" alt="앨범이미지">
                                          <% else %>
                                            <img src="http://via.placeholder.com/280X160" width="280" height="160">
                                          <% end %>
                                      			<span class="glyphicon glyphicon-play"></span>
                                      			<span class="duration">03:15</span>
                                      		</a>
                                      	</li>
                                      </ul>
                                    </div>
                                  <div class="caption">
                                    <p>
                                      <% if user_signed_in? %>
                                        <%= link_to "#{s.title}", show_path(s.id), class: "list-title" %>
                                      <% elsif %>
                                        <a href="javascript:alert('로그인을 해주세요');" class="list-title"><%=s.title%></a>
                                      <% end %>                                      
                                    </p>
                                  </div>
                                </div> 
                              </div>
                            </div>
                          <!--</div>-->
                          <% end %>
                       </div>
                    </div>
                    <% end %>
                  </div>
                
                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div> 
              
            </div>
          </div>
</div>
 <!--/.row -->
<!-- row-2-chart -->
<div class="row chart_style">
  <div class="row-wrap row-left">
    <div class="row-header">
      <h1 class="page-header header_style">
        뮤즈 차트
      </h1>
      <div class="header-detail">
        <a href="/muserchart/index">더보기
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </a>
      </div>
    </div>
    <div class="row-content-chart">
      <script>


// function popupOpen(){

// 	var popUrl = "/category/songwriting_view";

// 	var popOption = "width=500, height=360, resizable=no, scrollbars=no, status=no, toolbar = no, directories = no;";    

// 		window.open(popUrl,"",popOption);

// 	}


</script>

      <table class="table table-hover">
        
      
      <% @sw_chart.each_with_index do |p, index| %>
        <tr>
          <td class="td-1"><a href=""><%= index+1 %></a></td>
          <td class="td-2">
            <% if index==0 %>
              <% if user_signed_in? %>
                <a href="/songwritings/<%=p.id%>">
                  <% unless p.album_pic.nil? %>
                    <img src="<%= p.album_pic %>" alt="앨범이미지" width="50" height="50">
                  <% else %>
                    <img src="http://via.placeholder.com/50X50" alt="앨범이미지" width="50" height="50">
                  <% end %> 
                </a>
              <% elsif %>
                <a href="javascript:alert('로그인을 해주세요');">
                  <% unless p.album_pic.nil? %>
                    <img src="<%= p.album_pic %>" alt="앨범이미지" width="50" height="50">
                  <% else %>
                    <img src="http://via.placeholder.com/50X50" alt="앨범이미지" width="50" height="50">
                  <% end %>
                </a>              
              <% end %>            
          <% end %>
            <% if user_signed_in? %>
              <a href="/songwritings/<%=p.id%>"><%= p.title %></a>
            <% elsif %>
              <a href="javascript:alert('로그인을 해주세요');"><%=p.title%></a>
            <% end %>            
          </td>
          <td class="td-3"><a href=""><%= p.user_name%></a></td>
          <td class="td-4">
            <a href="javascript:popupOpen('<%= p.id %>');"><span class="glyphicon glyphicon-play mini-list"></span></a>
            <a href=""><span class="glyphicon glyphicon-plus mini-list"></span></a>
          </td>
        </tr>
      <% end %>
          
      </table>
    </div>
  </div>

  <div class="row-wrap row-right">
    <div class="row-header">
      <h1 class="page-header header_style">
        인기 영상
      </h1>
      <div class="header-detail">
        <a href="">더보기
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </a>
      </div>
    </div>
    <div>
      <ul class="list-unstyled video-list-thumbs row">
        <% @s_chart.each_with_index do |p, index| %>
      	<li class="col-12 col-lg-6">
      	 <% unless p.id.nil? %>
      	   <a href="/shows/<%=p.id%>" title="Claudio Bravo, antes su debut con el Barça en la Liga">
      	 <% else %>
        	 <a href="javascript:alert('로그인을 해주세요');">
      	 <% end %>
      	   <% unless p.show_pic.nil? %>
        	   <img src="<%= p.show_pic %>" alt="Barca" class="img-responsive" width="280" height="160" />
      	   <% else %>
         	   <img src="http://via.placeholder.com/280X160" class="img-responsive" width="280" height="160">
         	  <% end %>
      			<h2><%= p.title %></h2>
      			<h2 class="h2-sec"><%= p.user_name %></h2>
      			<span class="glyphicon glyphicon-play"></span>
      			<!--<span class="duration">03:15</span>-->
      		</a>
      	</li>
      	<% end %>
      </ul>
  </div>
  
</div>

<!--/row-2-chart-->

