<div class="row history-row first_row">
    <div class="history-profile-wrap result-wrap">
        <h1><i class="fa fa-search" aria-hidden="true"></i>&nbsp;"<span><%=@query%></span>" 검색 결과</h1>
    </div>
</div>

<div class="row row_style">
 <div class="row-header">
    <h1 class="page-header header_style">
        창작
    </h1>
 </div>
</div>

<div class="row history-row">
    <div class="history-profile-wrap">
        
        <div class="tab-content new-music-content">
            <div role="tabpanel" class="tab-pane active" id="create">
                <div class="row list">
                  <% @songwriting.each do |s| %>
                    <div class="col-6 col-md-4 col-lg-3">
                      <div class="list-wrap">
                        <div class="thumbnail">
                          <a href="javascript:popupOpen(<%=s.id%>);">
                            <div class="list-img-wrap">
                              <% unless s.album_pic.nil? %>
                                <img src="<%= s.album_pic %>" width="170" height="170" alt="앨범이미지">
                              <% else %>
                                <img src="http://via.placeholder.com/170x170" width="170" height="170" alt="앨범이미지">
                              <% end %>
                                <div>
                                    <i class="fa fa-music fa-2x play-icon" aria-hidden="true"></i>
                                </div>
                            </div>
                          </a>
                          <div class="caption">
                            <p>
                            <% if user_signed_in? %>
                              <%= link_to "#{s.title}", songwriting_path(s.id), class: "list-title" %>
                            <% else %>
                              <a href="javascript:alert('로그인을 해주세요');" class="list-title"><%=s.title%></a>
                            <% end %>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
               </div>
            </div>
        </div>
        
    </div>
</div>

<!--My Muser-->
<div class="row row_style">
 <div class="row-header">
    <h1 class="page-header header_style">
        커버
    </h1>
 </div>
</div>

<div class="row history-row">
    <div class="history-profile-wrap">
        <div class="tab-content new-music-content">
            <div role="tabpanel" class="tab-pane active" id="like_cover">
                <div class="row list">
                  <% @cover.each do |c| %>
                    <div class="col-6 col-md-6 col-lg-4">
                      <div class="list-wrap show-list-wrap">
                          <div class="thumbnail">
                              <div class="list-show">
                                <ul class="list-unstyled video-list-thumbs row">
                                	<li class="col-12">
                                		<a href="<%=cover_path(c.id)%>" title="Claudio Bravo, antes su debut con el Barça en la Liga">
                                		<% unless c.cover_pic.nil? %>
                                      <img src="<%= c.cover_pic %>" width="280" height="160" alt="앨범이미지">
                                    <% else %>
                                      <img src="http://via.placeholder.com/280X160" width="280" height="160">
                                    <% end %>
                                			<span class="glyphicon glyphicon-play"></span>
                                			<span class="duration">03:15</span>
                                		</a>
                                	</li>
                                </ul>
                              </div>
                            <div class="caption">
                              <p>
                              <% if user_signed_in? %>
                                <%= link_to "#{c.title}", cover_path(c.id), class: "list-title" %>
                              <% elsif %>
                                <a href="javascript:alert('로그인을 해주세요');" class="list-title"><%=s.title%></a>
                              <% end %>
                              </p>
                            </div>
                          </div> 
                        </div>
                      </div>
                    <!--</div>-->
                  <% end %>
               </div>
            </div>
        </div>
    </div>
</div>

<!--my favorite-->
<div class="row row_style">
 <div class="row-header">
    <h1 class="page-header header_style">
        공연
    </h1>
 </div>
</div>

<div class="row history-row">
    <div class="history-profile-wrap">
        
        <div class="tab-content new-music-content">
            <div role="tabpanel" class="tab-pane active" id="like_cover">
                <div class="row list">
                  <% @show.each do |s| %>
                    <div class="col-6 col-md-6 col-lg-4">
                      <div class="list-wrap show-list-wrap">
                          <div class="thumbnail">
                              <div class="list-show">
                                <ul class="list-unstyled video-list-thumbs row">
                                	<li class="col-12">
                                		<a href="" title="Claudio Bravo, antes su debut con el Barça en la Liga">
                                    <% unless s.show_pic.nil? %>
                                      <img src="<%= s.show_pic %>" width="280" height="160" alt="앨범이미지">
                                    <% else %>
                                      <img src="http://via.placeholder.com/280X160" width="280" height="160">
                                    <% end %>
                                			<span class="glyphicon glyphicon-play"></span>
                                			<span class="duration">03:15</span>
                                		</a>
                                	</li>
                                </ul>
                              </div>
                            <div class="caption">
                              <p>
                              <% if user_signed_in? %>
                                <%= link_to "#{s.title}", cover_path(s.id), class: "list-title" %>
                              <% elsif %>
                                <a href="javascript:alert('로그인을 해주세요');" class="list-title"><%=s.title%></a>
                              <% end %>
                              </p>
                            </div>
                          </div> 
                        </div>
                      </div>
                    <!--</div>-->
                  <% end %>
               </div>
            </div>
        </div>
        
    </div>
</div>