<div class="row first_row row_style">
    <div class="row-header">
        <h1 class="page-header header_style">
            업로드
        </h1>
        <div role="tabpanel">
        
          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-tabs_style" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">창작</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">커버</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">공연</a></li>
          </ul>

        </div>
    </div>
    <!-- Tab panes -->
      <div class="tab-content new-music-content">
        
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="row div_devise">
              <div>
                <h2>창작 업로드</h2>
                <div>
                <%= form_for @songwriting, multipart: true do |f| %> 
                <input type="hidden" name="user_id" value="<%= current_user.id %>">
                <input type="hidden" name="user_email" value="<%= current_user.email %>">
                <input type="hidden" name="user_name" value="<%= current_user.name %>">
                  
                  <div class="field field_style">
                    <%= f.label :album_pic %><br />
                    <%= f.file_field :album_pic, accept: "image/*" %>
                  </div>
                  <div class="field field_style">
                    <%= f.label :music %><br />
                    <%= f.file_field :music, accept: "audio/*" %>
                  </div>
                  <div class="field field_style">
                    <%= f.label :name %><br />
                    <%= f.text_field :title %>
                  </div>
                  <div class="field field_style">
                    <%= f.label :genre %><br />
                    <%= f.select(:genre, options_for_select([["발라드/댄스/팝"], ["힙합/알앤비"], ["일렉트로닉"], ["락/메탈"], ["재즈"], ["인디"]])) %>
                  </div>
                  <div class="field field_style">
                    <%= f.label :content %><br />
                    <%= f.text_area :content %>
                  </div>

                  <div class="field field_style">
                    <%= f.label :lyrics %><br />
                    <%= f.text_area :lyrics %>
                  </div>
                  <div class="actions field_style">
                    <%= f.submit "Upload" %>
                  </div>
                <% end %>
                </div>
              </div>
            </div>            
        </div>
        
        <div role="tabpanel" class="tab-pane" id="profile">
            <div class="row div_devise">
              <div>
                <h2>커버 업로드</h2>
                <div>
                <%= form_for @cover, multipart: true do |f| %>
                <input type="hidden" name="user_id" value="<%= current_user.id %>">
                <input type="hidden" name="user_email" value="<%= current_user.email %>">
                <input type="hidden" name="user_name" value="<%= current_user.name %>">
                  <div class="field field_style">
                    <%= f.label :cover_pic%><br />
                    <%= f.file_field :cover_pic, accept: "image/*"  %>
                  </div>
                  <div class="field field_style">
                    <%= f.label :cover_mic%><br />
                    <%= f.file_field :cover_mic, accept: "video/*"  %>
                  </div>
                  <div class="field field_style">
                    <%= f.label :name %><br />
                    <%= f.text_field :title %>
                  </div>
                  <div class="field field_style">
                    <%= f.label :original %><br />
                    <%= f.text_field :original %>
                  </div>
                  <div class="field field_style">
                    <%= f.label :content %><br />
                    <%= f.text_area :content %>
                  </div>

                  <div class="field field_style">
                    <%= f.label :lyrics %><br />
                    <%= f.text_area :lyrics %>
                  </div>
                  <div class="actions field_style">
                    <%= f.submit "Upload" %>
                  </div>
                <% end %>
                </div>
              </div>
            </div>                 
        </div>
        
        <div role="tabpanel" class="tab-pane" id="messages">
            <div class="row div_devise">
              <div>
                <h2>공연 업로드</h2>
                <div>
                <%= form_for @show, multipart: true do |f| %>
                <input type="hidden" name="user_id" value="<%= current_user.id %>">
                <input type="hidden" name="user_email" value="<%= current_user.email %>">
                <input type="hidden" name="user_name" value="<%= current_user.name %>">
                  <div class="field field_style">
                    <%= f.label :show_pic%><br />
                    <%= f.file_field :show_pic, accept: 'image/*'  %>
                  </div>
                  <div class="field field_style">
                    <%= f.label :show_mic%><br />
                    <%= f.file_field :show_mic, accept: 'video/*'  %>
                  </div>
                  <div class="field field_style">
                    <%= f.label :title %><br />
                    <%= f.text_field :title %>
                  </div>  
                  <div class="field field_style">
                    <%= f.label :teamname %><br />
                    <%= f.text_field :teamname %>
                  </div>
                  <div class="field field_style">
                    <%= f.label :content %><br />
                    <%= f.text_area :content %>
                  </div>
                  <div class="actions field_style">
                    <%= f.submit "Upload" %>
                  </div>
                <% end %>
                </div>
              </div>
            </div>                 
        </div>
        
      </div>
</div>