<div class="row first_row row_style">
    <div class="row-header">
        <h1 class="page-header header_style">
            뮤즈 차트
        </h1>
        <div role="tabpanel">
        
          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-tabs_style" role="tablist">
            <li role="presentation" class="active"><a href="#create-chart" aria-controls="create-chart" role="tab" data-toggle="tab">창작</a></li>
            <li role="presentation"><a href="#cover-chart" aria-controls="cover-chart" role="tab" data-toggle="tab">커버</a></li>
            <li role="presentation"><a href="#show-chart" aria-controls="show-chart" role="tab" data-toggle="tab">공연</a></li>
          </ul>

        </div>
    </div>
    <!-- Tab panes -->
      <div class="tab-content new-music-content chart-content">
        
        <div role="tabpanel" class="tab-pane active" id="create-chart">
            <div class="row div_devise div_chart">
              <div>
                <h2>창작 차트</h2>
                <div>
                  <table class="table table-hover">
                  <% num = 1 %>
                  <% @sw_chart.each do |p| %>
                    <tr>
                      <td class="td-1"><%= num %></td>
                      <td class="td-2">
                        <% if num==1 %>
                        <%= link_to image_tag("#{p.album_pic}", alt: "앨범커버없음"), songwriting_path(p.id) %>
                        <% end %>
                        <%= link_to p.title, songwriting_path(p.id) %></td>
                      <td class="td-3"><a href=""><%= p.user_name %></a></td>
                      <td class="td-4">
                        <a href="javascript:popupOpen('<%=p.id%>');"><span class="glyphicon glyphicon-play mini-list"></span></a>
                        <a href=""><span class="glyphicon glyphicon-plus mini-list"></span></a>
                      </td>
                    </tr>
                    <% num = num+1 %>
                  <% end %>
                  </table>
                </div>
              </div>
            </div>            
        </div>
        
        <div role="tabpanel" class="tab-pane" id="cover-chart">
            <div class="row div_devise div_chart">
              <div>
                <h2>커버 차트</h2>
                <div>
                  <table class="table table-hover">
                  <% num = 1 %>
                  <% @c_chart.each do |p| %>
                    <tr>
                      <td class="td-1"><%= num %></td>
                      <td class="td-2">
                        <% if num==1 %>
                        <%= link_to image_tag("#{p.cover_pic}", alt: "앨범커버없음"), cover_path(p.id) %>
                        <% end %>
                        <%= link_to p.title, cover_path(p.id) %></td>
                      <td class="td-3"><a href=""><%= p.user_name %></a></td>
                      <td class="td-4">
                        <a href="/covers/<%= p.id %>"><span class="glyphicon glyphicon-play mini-list"></span></a>
                        <a href=""><span class="glyphicon glyphicon-plus mini-list"></span></a>
                      </td>
                    </tr>
                    <% num = num+1 %>
                  <% end %>
                  </table>
                </div>
              </div>
            </div>            
        </div>
        
        <div role="tabpanel" class="tab-pane" id="show-chart">
            <div class="row div_devise div_chart">
              <div>
                <h2>공연 차트</h2>
                <div>
                  <table class="table table-hover">
                  <% num = 1 %>
                  <% @s_chart.each do |p| %>
                    <tr>
                      <td class="td-1"><%= num %></td>
                      <td class="td-2">
                        <% if num==1 %>
                        <%= link_to image_tag("#{p.show_pic}", alt: "앨범커버없음"), show_path(p.id) %>
                        <% end %>
                        <%= link_to p.title, show_path(p.id) %></td>
                      <td class="td-3"><a href=""><%= p.user_name %></a></td>
                      <td class="td-4">
                        <a href="/shows/<%= p.id %>"><span class="glyphicon glyphicon-play mini-list"></span></a>
                        <a href=""><span class="glyphicon glyphicon-plus mini-list"></span></a>
                      </td>
                    </tr>
                    <% num = num+1 %>
                  <% end %>
                  </table>
                </div>
              </div>
            </div>            
        </div>
        
         
        
      </div>
</div>

